@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    background: url(../images/fundo.png);
    background-size: cover;
}

header {
    width: 1100px;
    margin: auto;
    padding-top: 40px;
}

.divisoes {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    height: 490px;
    margin: 0 auto;
}

.esquerda {
    flex: 1;
}

.esquerda .titulo h1 {
    color: white;
    font-size: 40px;
    font-weight: normal;
    padding-top: 50px;
    width: 450px;
}

.esquerda .subtitulo {
    color: rgba(255, 255, 255, 0.404);
    font-size: 15px;
    margin: 20px 0;
    width: 350px;
    line-height: 20px;
}

.esquerda input {
    background-color: #1d2437;
    color: white;
    width: 300px;
    padding: 9px;
    border: 1px solid rgba(255, 255, 255, 0.404);
}

.esquerda button {
    background-color: #0071B7;
    color: white;
    padding: 9px;
    border: 1px solid rgba(255, 255, 255, 0.404);
    cursor: pointer;
}

.esquerda .programas img {
    width: 40px;
    padding-top: 20px;
    padding-right: 10px;
}

.direita {
    flex: 1;
    background: url(../images/hero.png);
    background-size: 95%;  
    background-position: cover;
    background-repeat: no-repeat;
}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #a8aeb154;
    padding: 20px;
}

.infos div {
    margin-left: 15px;
}

.infos div p {
    color: #a8aeb1;
    font-size: 20px;
    font-weight: bold;
}

.infos div.circle {
    display: flex;
    background-color: #a8aeb1;
    width: 6px;
    height: 6px;
    border-radius: 50% 50%;
    align-items: center;
}

.container-duvidas {
    width: 1000px;
    margin: 0 auto;
    padding: 70px;
} 

.duvidas {
    border-left: 2px solid #a8aeb1;
}

.duvidas:last-child {
    border: none;
}

.duvidas .circle-duvidas {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0071B7;
    margin-left: -8px;
}

.texto-duvidas {
    margin-left: 40px;
    margin-top: -23px;
}

.texto-duvidas p {
    padding: 20px 0px 50px 0px;
}








